body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1920px;

}

a{
    text-decoration: none;

}


header{
    height: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #3F3F3F;
    position: fixed;
    max-width: 1920px;
    z-index: 2;
    display: flex;
    justify-content: center;
}

header a{
    align-self: center;
    color: #FFFFFF;
}

header a:visited{
    color: #FFFFFF;
}

header span{
    align-self: center;
    color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

section{
    height: calc(100vh - 100PX);

}

#cadreA{
    margin-top: 100px;
    background-image: url("Eval1/images/accueil.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#cadreA p{
    align-self: center;
    text-shadow: 8px 0 0 black, 0 8px 0 black, 0 -8px 0 black, -8px 0 0 black, 8px 8px 0 black, 8px -8px 0 black, -8px 8px 0 black, -8px -8px 0 black;
    font-size: 200px;
    color: white;
    font-family: Impact, sans-serif;
}

#cadreA button{
    align-self: center;
}

#cadreB{
    background-color: #3F3F3F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titreCadre{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titreCadre span{
    font-size: 60px;
    font-family: Impact, sans-serif;
    letter-spacing: 0.1em;
}

#listeMenu{
    display: flex;
    flex: 2;
    max-width: 1920px;
    width: 99vw;
    justify-content: space-evenly;
}

.titreMenu{
    font-family: Impact, sans-serif;
    font-size: 45px;
    letter-spacing: 0.1em;
    text-align: center;
}

article{
    font-size: 1.8em;
    font-family: Verdana, Geneva, sans-serif;

}

#cadreC{
    display: flex;

}

#cadreC1{
    flex: 1;
    background-image: url("Eval1/images/contact.jpg");
}

#cadreC2{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    font-size: 1.8em;
    font-family: Verdana, Geneva, sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

form li + li{
    margin-top: 0.8em;
}

input {
    width: 25vw;
}

input, textarea{
    width: 25vw;
    font: 1em sans-serif;
    border: 2px solid #999999;
    box-sizing: border-box;
}

label{
    display: inline-block;
    width: 180px;
    text-align: right;
}

textarea{
    vertical-align: top;
    height: 6em;
}

#libouton{
    text-align: center;
}

.tooltip{
    color: #f4511e;
    font-size: 0.7em;
}

.button {
    display: inline-block;
    vertical-align:middle;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after { /* le but est d'ajouter un pseudo-élément après le texte du bouton */
    content: '\00bb'; /* affichage d'un caractere special : » */
    position: absolute;
    opacity: 0;
    top: 0;
    right: -50px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
